.creators {
   margin-top: 80px;
}

.creators__main {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 56px 72px;

   @media (max-width: 1100px) {
      grid-gap: 40px 20px;
   }
   @media (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-gap: 24px;
   }
}

.creators__item {
   background: #302034;
   -webkit-box-shadow: inset 2px 0px 0px #e03054;
   box-shadow: inset 2px 0px 0px #e03054;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding: 26px 30px;

   img {
      display: block;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 24px;
   }

   @media (max-width: 1100px) {
      padding: 20px;
      img {
         max-width: 65px;
      }
   }
   @media (max-width: 750px) {
      padding: 15px;
      img {
         max-width: 45px;
         margin-right: 10px;
      }
   }
}

.creators__inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.creators__name {
   font-family: 'Oxanium';
   font-weight: 600;
   font-size: 32px;
   line-height: 150%;
   letter-spacing: 0.05em;

   @media (max-width: 1100px) {
      font-size: 24px;
   }
   @media (max-width: 750px) {
      font-size: 18px;
   }
}
.creators__price {
   margin-top: 8px;
   font-weight: 500;
   font-size: 24px;
   line-height: 150%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   color: #bdaac1;
   @media (max-width: 1100px) {
      font-size: 18px;
      margin-top: 0;
   }
}

.creators__count {
   position: relative;

   &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -45px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 100%;
      width: 3px;
      background: #49374e;
   }
   @media (max-width: 900px) {
      &::before {
         left: -15px;
      }
   }
}

.creators__number {
   font-family: 'Oxanium';
   font-weight: 700;
   font-size: 32px;
   line-height: 35px;
   letter-spacing: 0.05em;
   margin-bottom: 6px;
   @media (max-width: 1100px) {
      font-size: 24px;
      margin-bottom: 0px;
   }
}

.creators__items {
   font-weight: 500;
   font-size: 24px;
   line-height: 36px;
   color: #908294;
   @media (max-width: 1100px) {
      font-size: 18px;
   }
}
