.footer {
   padding: 115px 0;
   background: #251928;
}

.footer__main {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.footer__social {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 35px;
   margin: 60px 0;

   a:hover {
      svg {
         path {
            fill: #f7d7ff;
         }
      }
   }

   svg {
      width: 35px;
      height: 35px;

      path {
         -webkit-transition: all 0.3s;
         -o-transition: all 0.3s;
         transition: all 0.3s;
      }
   }
}

.footer__rights {
   font-size: 20px;
   line-height: 36px;
   color: #96839b;
}

.footer__text {
   font-weight: 500;
   font-size: 20px;
   line-height: 36px;
   color: #96839b;
   max-width: 390px;
}

.footer__title {
   margin-bottom: 18px;
   font-weight: 700;
   font-size: 24px;
   line-height: 35px;
}

.footer__links {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
   a {
      font-weight: 500;
      font-size: 20px;
      line-height: 50px;
      color: #96839b;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;

      &:hover {
         color: $yellow;
      }
   }
}
